* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(55, 65, 81);
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  /* color: rgb(55, 65, 81); */
  color: white;
}

.author-info a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 2%;
}

.img {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 30px;
}

h1,
h2,
p {
  color: white;
}
h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btns {
  border: 1px solid rgb(25, 147, 203);
  /* text-align: center; */
  text-transform: uppercase;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(0, 76, 111);
  color: white;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.icon {
  position: relative;
  z-index: 6;
  border: 1px solid rgb(25, 147, 203);
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  width: 6rem;
  height: 1.8rem;
  border-radius: 5px;
  background-color: rgb(25, 147, 203);
  color: white;
}

@keyframes slidein {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(3deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.rotate {
  animation: slidein ease-in;
  /* animation-name: slidein; */
  animation-duration: 25s;
  /* transform: rotateX("90deg"); */
}
